<link href="~/CSS/Index.css" rel="stylesheet" />



<section id="01">
    <div id='section-1'>
        <div class="img-background"></div>
        <div id='section-1-1'>
            <p id="h_1">
                PLANNING TO<br>
                GO OVERSEA?<br>
                <br>
                UNKNOWING<br>
                WHAT TO DO?
            </p>
            <p id="h_2">
                <br>
                It is our priority to<br>
                help you
            </p>
        </div>
        <button id="btn-1-1" class="btn_book_now">Book Now</button>  
    </div>
    <div id='adc'></div>
</section>

<section id="02">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="~/CSS/Slider.css" rel="stylesheet" />
    <div id="section-2">
        <div class="divider">
            <hr class="left" />Story<hr class="right" />
        </div>
        <div class="slider">
            <!-- slide -->
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ol>
                <!-- point -->
                <li class="active"><i class="fa fa-circle-o"></i></li>
                <li><i class="fa fa-circle-o"></i></li>
                <li><i class="fa fa-circle-o"></i></li>
                <li><i class="fa fa-circle-o"></i></li>
                <li><i class="fa fa-circle-o"></i></li>
                <!-- playpause -->
                <i class="fa playpause fa-pause-circle-o" title="pause"></i>
            </ol>
            <!-- controll -->
            <span class="controll active"></span>
            <span class="controll"></span>
           
        </div>
        <button id="btn-2-1" class="btn_book_now">Book Now</button>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
        <script src="~/Scripts/Modify/Home_slider.js"></script>
    </div>
   
</section>
<section id="03">
    <div id="section-3">
        <div class="divider">
            <hr class="left" />Services<hr class="right" />
        </div>
       <img id="img_flag" src="~/Photo/Flag.png">
        <p id="h_3">Are you looking for the right Visa?</p>
        <br />
        <p id="h_4">Vann expertise in the following visa:</p>
        <br/>
        <p id="h_5">Employment <br>
            Business<br>
            Family<br>
            Study<br>
        </p>
        </br>
        <button id="btn-3-1" class="btn_book_now">Read More</button>
    </div>
</section>

<section id="04">
    <div id="section-4">
        <div class="divider">
            <hr class="left" />About Me<hr class="right" />
        </div>
        <div id="wrape_1">
            <div id="b_vann"><img id="img_vann" src="~/Photo/vann.png"></div>
            <div id="h_6">
                <div id="h_6_1">
                    Hi and welcome! I’m Vann. I am one of the leading Cambodia migration consultancy.
                    I’m working closely with countries such as Australia, New Zealand, USA and Canada.
                    I am providing guild-lines and advice to every situation according to individual circumstances.
                    As registered migration agent I have dept-knowledge of international laws, regulation and policy.
                    Applying Visa to international countries are extremely sophisticated, do it right at the beginning will save your money and time.
                    I have established my business since 2000. 17 years of experience you will confident in my work.
                    I will simplify processes into simple steps with precise information for you to follows.
                    While you just sit back and relax, I will work with the immigration department.
                </div>
                </div>
        </div>
 
        <div id="h_7">
            HOW I CAN <br />
            HELP YOU
        </div>
        <div id="wrape_text">
            <div id="h_8">Successful Aplpplicant Rates</div>
            <div id="h_9">99%</div>
        </div>
        <div id="h_10">
            <form>
                <input class="input_email" type="text" name="name" placeholder="NAME">
                <input class="input_email type=" text" name="subject" placeholder="SUBJECT">
                <input class="input_email type=" text" name="telephone" placeholder="TELEPHONE">
                <input class="input_email type=" email" name="email" placeholder="EMAIL">
                <textarea id="input_message" row='10' placeholder="MESSAGE"></textarea><br />
            </form>
            <button id="btn-1-1" class="btn_book_now" type="submit">SEND</button>
        </div>                       
    </div>
</section>
<div style="clear:left"></div>